@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body , * {
  font-family: 'Cairo', sans-serif;
}
.page_title { 
  text-align: center;
}
.invoice_heading_line {
  line-height: 1.3em;
  padding: 0 0;
  margin: 0 auto;
}

h4.invoice_heading_line {
  font-size: 1.2em;
}

h5.invoice_heading_line {
  font-size: 0.8em;
  font-weight: normal;
}

.maintenance_notes {
  font-size: 0.8em;
}
.maintenance_notes ul {
  list-style: '-';
}

.v-list-item {
  line-height: 1em;
  padding: 0px;
}

.tagline {
  font-size: 0.6em;
}
.barcodeLine {
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 6px;
}